@font-face {
  font-family: 'Dancing Script'; /*a name to be used later*/
  src: url('/fonts/DancingScript-Regular.ttf'); /*URL to font*/
}
@font-face {
  font-family: 'Darker Grotesque'; /*a name to be used later*/
  src: url('/fonts/DarkerGrotesque-Regular.ttf'); /*URL to font*/
} 

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:#000000;
    color:#ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



@media only screen and (max-width: 600px) {
  .componentArticleContainer{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:100% !important;
    height:80vw !important;
    background-color:#788EBA;
    border: 1.01587px solid #788EBA;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:20px;
  }
  .componentArticleTitleCaption{
    font-size:14px !important;
  }
}

/* START Component Article*/
.componentArticleContainer{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:32%;
  height:27vw;
  background-color:#788EBA;
  border: 1.01587px solid #788EBA;
  border-radius:10px;
}
.componentArticleImageContainer{
  width:100%;
  height:50%;
  background-color:silver;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  background-color:#000000;
  
  overflow:hidden;
}
.componentArticleBodyContainer{
  width:100%;
  height:48%;
  background-color:#33333C;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.componentArticleBodyContainerInner{
  width:90%;
  height:100%;
}
.componentArticleHeadContainer{
  width:100%;
  height:24%;
  display:flex;
  flex-direction:row;

  justify-content:flex-start;
  align-items:center;
}
.componentArticleTitleContainer{
  width:100%;
  height:12%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
}
.componentArticleTitleCaption{
  font-family:"Cuprum";
  font-size:16px;
  color:#788EBA;
}
.componentArticleContentContainer{
  width:100%;
  height:39%;
  overflow:hidden;
}
.componentArticleParagraph{
  font-family:"Cuprum";
  font-size:14px;
  color:#ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
}
.componentArticleFooterContainer{
  width:100%;
  height:24%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
.componentArticleReleaseDate{
  font-family:"Cutive";
    font-size:14px;
    color:#788EBA;
}
.componentArticleAbutton{
  font-family:"Cuprum";
  font-size:16px;
  color:#ffffff;
  cursor:pointer;
  background-color:#788EBA;
  padding:5px 10px 5px 10px;
  border-radius:50px;
  margin-left:0;

  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;

  text-decoration:none;
}
/* End Component Article*/



/* START Component RelatedArticle*/
.componentRelatedArticleContainer{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:90%;
  height:27vw;
  background-color:#788EBA;
  border: 1.01587px solid #788EBA;
  border-radius:10px;
  
}

@media only screen and (max-width: 600px) {
  .componentRelatedArticleContainer{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:80% !important;
    height:80vw !important;
    background-color:#788EBA;
    border: 1.01587px solid #788EBA;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:20px;
  }
}
/* End Component Article*/


.componentNotFoundContainer{
  width:100%;
  min-height:70vh;
  background-color:#2A2A32;

  display:flex;
  justify-content:center;
  align-items:center;

}
.componentNotFoundContainerInner{
  width:80%;
  height:100%;
  background-color:#2A2A32;

  display:flex;
  justify-content:center;
  align-items:center;
  
}
.marginLeft5px{
  margin-left:5px;
}
.marginTop10px{
  margin-top:10px;
}
.marginTop5px{
  margin-top:5px;
}
.marginTop20px{
  margin-top:20px;
}
.marginBottom5px{
  margin-bottom:5px;
}
.marginBottom3px{
  margin-bottom:3px;
}

.marginBottom10px{
  margin-bottom:10px;
}

.PageTitle{
  font-size:25px;
}
.hCaption{
  font-weight:bold;
  color:#788EBA;
}
.componentArticleDetail{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

/* pagination */
.page-link{
  color: #788EBA !important;
  background: transparent !important;
  padding: 0.7rem 0.95rem;
}
.page-link:hover{
  color: #ffffff !important;
  background-color:#788EBA !important;
  border-radius: 50px;
}

.aActive{
  color:#ffffff !important;
}

#divAdvertisement{
  width:80%;
  height:90px;
  background-color:#2a2a32;
}

.adsbygoogle{
  
}
.example_responsive_1 { width: 320px; height: 100px; }
@media(min-width: 500px) { .example_responsive_1 { width: 468px; height: 60px; } }
@media(min-width: 800px) { .example_responsive_1 { width: 728px; height: 90px; } }