.mainContainer{
  display:flex;
  flex-direction:column;
  width: 100%;
  justify-content:center;
  align-items:center;
  background-color:#2A2A32;
  background-attachment: fixed !important;

}


/* Start Banner */
.bannerContainer{
  display:flex;
  justify-content:center;
  background-color:#2A2A32;
  
  width:80%; 


}

.bannerContainerLeft{
  display:flex;
  flex-direction:column;
  justify-content:center; 
  align-items:flex-start;
  width:60%;
}
.bannerContainerRight{
  display:flex;
  flex-direction:row;

  width:40%;
  justify-content:flex-start;
  align-items:flex-end;
}

@media only screen and (max-width: 600px) {
  .bannerContainer{
    display:flex;
    flex-direction:column;
    background-image:url("/media/akn.png");
    background-position:fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .bannerContainerLeft{
    width:100%;
    font-size:20px;

    
  }
  .bannerContainerRight{
    width:100%;
    display:none;

  }

  .banerGreeting{
    font-size:20px !important;
    margin-top:150px;
    color:#ffffff !important;
  }
  .banerPosition{
    font-size:20px !important;
  }

  .divLatestArticlesContentContainer{
    display:flex;
    flex-direction:column !important;
  }
}

.imgAkn{
  margin-left:0;
  height:90%;
  margin-bottom:0
}
/* END Banner */
.bannerRowLeft{
  
  width:10%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.bannerRowRight{
  
  width:90%;

}

/* Start Banner.bannerDivInfo */
.bannerDivInfo{
  display:flex;
  flex-direction:row;
  justify-content:center; 
  align-items:flex-start;
  width:100%;
}
.banerGreeting{
  color:#788EBA;
  font-size:30px;
  font-family:"Dancing Script";
}
.banerPosition{
  margin-top:5px;
  color:#788EBA;
  font-size:25px;
  font-family:"Darker Grotesque";
}
/* END Banner.bannerDivInfo */

/* Start Banner.bannerDivAddress */
.bannerDivAddress{
  margin-top:5px;
  display:flex;
  flex-direction:row;
  justify-content:center; 
  align-items:flex-start;
  width:100%;

}

.bannerRowIcon{
  
  width:10%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  color:#788EBA;
}
.banerAddressDetail{

  width:90%;
  color:#FFFFFF;
  font-size:20px;
  font-family:"Darker Grotesque";

}


.bannerDivButtons{
  margin-top:40px;
  margin-bottom:10px;
  display:flex;
  flex-direction:row;
  justify-content:center; 
  align-items:flex-start;
  width:100%;

}

.btnDownloadCV{
  background-color:#000000;
  border:1px solid #788EBA;
  color:#ffffff;
  padding:7px;
  border-radius:10px;
  text-decoration:none;
}

.btnHireMe{
  background-color:#788EBA;
  border:1px solid #000000;
  color:#ffffff;
  padding:7px;
  border-radius:10px;
  text-decoration:none;
  margin-left:20px;
}
/* END Banner.bannerDivInfo */

/* Start Banner AboutMe*/
.bannerAboutMeContainer{
  display:flex;
  justify-content:center;
  background-color:#262628;
  width:100%; 

  background-image:url("/media/bg2.png");
  background-position:fixed;
  background-size: contain;
  background-attachment: fixed !important;

}
.bannerAboutMeInnerContainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:80%; 

  padding-top:20px;
}
.AboutMeTitle{
  display:flex;
  justify-content:flex-start;
  width:100%; 

  color:#788EBA;
  font-family:"Cuprum";
  font-size:30px;

  padding-top:20px;
}
.AboutMeDetail{
  display:flex;
  width:100%; 
  color:#ffffff;
  font-family:"Darker Grotesque";
  font-size:16px;
  overflow:auto;
  text-align:left;
  margin-top:20px;
  margin-bottom:20px;
}

.StatementDetail{
  width:100%;
  display:flex;
  flex-direction:column;
  margin-bottom:50px;
}
.statementRow{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  margin-top:10px;
}

.statementLeft{
  width:5%;
}
.statementRight{
  width:90%;
  color:#ffffff;
  font-family:"Darker Grotesque";
  font-size:16px;
}

/* END Banner AboutMe*/

.divMainLatestArticles{
  display:flex;
  flex-direction:row;
  justify-content:center; 
  align-items:flex-start;
  width:100%;

  background-color:#2A2A32;
}
.divInnerLatestArticles{
  display:flex;
  flex-direction:column;
  justify-content:center; 
  align-items:flex-start;
  width:80%;
}
.divTitleLatestArticles{
  display:flex;
  flex-direction:row;
  justify-content:flex-start; 
  align-items:flex-start;
  width:100%;

  color:#788EBA;
  font-family:"Cuprum";
  font-size:30px;
  margin-top:20px;
}
.divLatestArticlesContentContainer{
  display:flex;
  flex-direction:row;
  justify-content:space-between; 
  align-items:flex-start;
  width:100%;

  color:#ffffff;
  font-family:"Darker Grotesque";
  font-size:16px;
  margin-top:30px;
}
.StatementUL{
  
  margin: 0; padding: 0;
  margin-left:10px;
  font-family:"Darker Grotesque";
  font-size:16px;
}
.StatementUL li{
  margin-left:0px;
  margin-top:10px;
}