.mainContainer{
  width:100% !important;
  display:flex;
  flex-direction:column;
  background: #262628;
}

.mainViewPort{
  width:100%;
  height:100vh;
  position:fixed !important;
  overflow:scroll;
  display:flex;
  flex-direction:column;
  margin-top:0px;
}

.mainHeaderContainer{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;
  height:100px;
  position:fixed;
}

/* Start Small Menu */
  .menuSmallContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width: 100%;
    height:30%;
    background-color:#788EBA;
  }
  .menuInnerContainerSmallLeft{
    width:30%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
  }



  .menuInnerContainerSmallLeft a{
    color:#ffffff;
    font-family:"Eczar";
    font-size:12px;
    text-decoration:none;

  }
  .menuInnerContainerSmallLeft a:hover{
    color:#000000;
  }
  .menuInnerContainerSmallRight{
    width:15%;
  }
/* END Small Menu */
/* Start Big Menu */
  .menuBigContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width: 100%;
    height:65%;;
    background-color:rgba(38, 38, 40, 0.58);
  }
  
    .menuInnerContainerBigLeft{
      width:30%;
      height:100%;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
      
    }
    .MenuLogoLink{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:flex-start;
      text-decoration: none;
    }
    .logo-img{
      object-fit: contain;
      position: relative !important;
      width: unset !important;
      height:70% !important;
    }
    .menuInnerContainerBigRight{
      width:40%;
      height:100%;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
      
    }
   

    .menuInnerContainer{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:flex-start;
      width: 80%;
      height:100%;
    }

    @media only screen and (max-width: 600px) {
      
      .mainHeaderContainer{
        display:flex;
        flex-direction:column;
        height:200px;
      }
      .menuBigContainer{
        display:flex;
        flex-direction:row;
        justify-content:center;
      }
      .menuSmallContainer{
        height:10%;
      }
      .menuInnerContainer{
        display:flex;
        flex-direction:column;
        justify-content:center;
      }
      .menuInnerContainerSmallLeft{
        width:100%;
      }
      .menuInnerContainerBigLeft{
        width:100%;
        height:50%;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        border-bottom:1px solid #000000;
      }
      .menuInnerContainerBigRight{
        width:100%;
        height:50%;
        display:flex;
        flex-direction: row;
        font-size:12px;
      }
      .mainBodyContainer{
        margin-top:150px !important;
        display:flex;
        flex-direction:column;
       
      }
      .bodyInnerContainer{
      }

      .menuLine{
        height:2% !important;
      }
     

      /*footer*/
      .mainFooterContainer{
        display: flex;
        flex-direction:column !important;
      }
      .mainFooterInnerContainer{
        display: flex;
        flex-direction:column-reverse !important;
        justify-content:center;
        align-items:center;
      }
      .footerColumn{
        width:100% !important;
        justify-content:center;
        align-items:center;
      }
      .footerCaption{
        text-align: center;
      }
      .footerRow{
        text-align: center;
      }
      .footerParagraph{
        text-align: center;
      }
    }
  
/* END Big Menu */

.menuLine{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-start;
  width: 100%;
  height: 5%;
  background: linear-gradient(90deg, #788EBA 0%, #000000 100%);
}

/* Start Body */

   
.mainBodyContainer{
  width:100%;
  display:flex;
  flex-direction:row;
  margin-top:100px;
  justify-content:space-around;
  background-color:#2A2A32;
}

  .bodyInnerContainer{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:10px;
    
  }
    .bodyInnerContainerLeft{
      width:30%;
      height:100%;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
    }
    .bodyInnerContainerRight{
      width:15%;
    }
/* End Body */
/* Start Footer */
.mainFooterContainer{
  width:100%;
  display:flex;
  flex-direction:row;
  background: #2A2A32;
  background: #222227;
  justify-content:center;
  align-items:center;
}
.mainFooterInnerContainer{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width: 80%;
  padding-top:10px;
  padding-bottom:10px;
}
.mainFooterInnerContainer div{
  color:"#ffffff";
  font-family:"Darker Grotesque";
}



.footerColumn{
  width:20%;
  display:flex;
  flex-direction:column;
  margin-bottom:20px;
  justify-content: center;
  align-items:center;
}
.footerCaption{
 width:100%;
  margin-top:20px;
  color:#788EBA;
  font-family:"Cuprum" !important;
  font-size:30px;
}
.footerIcon{
  font-size: 20px; color: rgb(120, 142, 186);
  color:#788EBA;
}
.footerLabel{
  color:#FFFFFF;
  fontSize:20px;
  font-family:"Darker Grotesque";
  margin-left:10px;

}
.footerParagraph{
 color:#ffffff;
 width:100%;
}
.footerRow{
  width:100%;
  margin-top:5px;
 }
 .footerRow i{
  width:10%;
 }